<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="inseead" translate="label" sortOrder="400"><label>Inseead</label></tab>
        <section id="einvoicing" translate="label" sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>inseead</tab>
            <label>E-Invoicing / Billing Flow</label>
            <resource>Inseead_Einvoicing::config</resource>
            <group id="general" translate="label" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Pre-Checkout Billing Step</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="b2b_verification_enabled" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable B2B Company Verification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends><field id="enabled">1</field></depends>
                </field>
            </group>
            <group id="insee" translate="label" sortOrder="20"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>INSEE API (France / SIRET Validation)</label>
                <field id="api_url" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>INSEE API Base URL</label>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>INSEE API Key / Bearer Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="timeout" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Request Timeout (seconds)</label>
                </field>
            </group>
            <group id="eu_vat" translate="label" sortOrder="30"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>EU VAT Validation</label>
                <field id="use_magento_vat" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Use Magento Native VAT Validation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
